*{
  margin: 0;
  padding: 0;
}
:root{

--red:0, 78%, 62%;
--cyan:180, 62%, 55%;
--orange:34, 97%, 64%;
--blue:212, 86%, 64%;
--grey:234, 12%, 34%;
--light-grey:212, 6%, 44%;
--white:0, 0%, 100%;

--ff: "Poppins",serif;

--bold:600;
--semibold:400;
--lightbold:200;

}
body{
  font-size: 15px;
  font-family: var(--ff);
  background-color: hsl(210, 86%, 97%);
 
}
header{
  text-align: center;
}
.grid{
  display: grid;
  gap:30px ;
}
.flex{
  display: flex;
}
.container{
  grid-template-columns: 1fr 1fr 1fr;
  padding: 80px 50px;
  

 
}
@media(max-width:35em){
  .container{
   grid-template-columns: 1fr;
   max-width: 300px;
   margin: 20px auto;

  
  }
  header{
   
 
    text-align: center;
  }
  .card{
    max-width: 300px;
margin: 20px auto;

  }
}
.card{
  position: relative;
max-width: 350px;
padding: 30px;
border-radius: 5px;
background-color: hsl(var(--white));

}
.title{
   padding-top: 50px;
font-size: 36px;
font-weight: 200;
font-family: var(--ff);
color: hsl(var(--light-grey));
}
.sub-title{
font-size: 36px;
font-weight: 600;
font-family: var(--ff);
color: hsl(var(--grey));
}
.describe{
width: 500px;
text-align: center;
margin-inline: auto;
font-weight: 200;
font-family: var(--ff);
color: hsl(var(--light-grey));
}
.card-title{
font-size: 20px;
font-weight: 600;
color: hsl(var(--grey));
margin-bottom: 10px;

}
.card-sub{
font-size: 13px;
color: hsl(var(--light-grey));
opacity: 0.7;
line-height: 1.5;

}
.icon{
position: absolute;
right: 5px;
bottom: 5px;
width: 60px;
height: 60px;
margin-top: 30px;

}
.card1{
  margin-top:20%;
border-top: solid 3px hsl(var(--cyan));
}
.card2{
border-top: solid 3px hsl(var(--red));
}
.card3{
  margin-top: 30px;
border-top: solid 3px hsl(var(--orange));
}
.card4{
  margin-top:20% ;
border-top: solid 3px hsl(var(--blue));
}
.middle-cards{
  grid-template-columns: 1fr;
 
}

